/** Add css rules here for your application. */

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

body, td, a, div {
    font-family: arial, sans-serif
}

@def btnWidth 85px;
@def btnHeight 85px;

@sprite .gameField .crossImgBtn {
    gwt-image: "crossImage";
    width: btnWidth;
    height: btnHeight;
}

@sprite .gameField .circleImgBtn {
    gwt-image: "circleImage";
    width: btnWidth;
    height: btnHeight;
}

#game-widget {
    width: 270px;
    margin: 0 auto;
}

.gameField button {
    width: btnWidth;
    height: btnHeight;
}