/** Add css rules here for your application. */

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

body, td, a, div, .p {
    font-family: arial, sans-serif
}

.gameField button {
    width: 85px;
    height: 85px;
}

.gameField .crossImgBtn {
    background-image: url('img/cross.gif');
}

.gameField .circleImgBtn {
    background-image: url('img/circle.gif');
}

#game-widget {
    width: 270px;
    margin: 0 auto;
}
